#cards{
    width: auto;
    height: auto;
    text-align: center;
    padding: auto;
    margin-bottom: 50px;
}

#images{
    max-width: 600px;
    max-height: auto;
    padding: auto;
    margin: auto;
}
