@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: lightgray;
  color: #000000;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;    
  gap: 1rem;
  justify-content: center;
  margin-top: 15px;
}
.note {
  background-color: #F3E779;
  border: 1px solid #000000;
  color: black;
  font-family: cursive;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  min-width: 400px;
  min-height: 300px;
  justify-content: space-between;
  
}
p{
  padding-bottom: 20px;
}

.note.new {
	background-color: #67d7cc;
  text-align: center;
}
textarea {
	border: none;
  border-radius: 5px;
	resize: none;
	background-color: #67d7cc;
  text-align: center;
  font-size: 1rem;
}

textarea:focus {
  background-color: lightgray;
  color: darkblue;
	outline: none;
  text-align: center;
}
.form {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-right: 35%;
  margin-left: 35%;
}
.col{
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.delete{
  background-color: lightpink;
  padding: 5px;
  margin: 25px;
  border-radius: 5px;
}
.edit{
  background-color: rgb(255, 205, 159);
  padding: 5px;
  margin: 25px;
  border-radius: 5px;
}
.note-buttons{
  display: absolute;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10%;
}
#header {
  background-color: #67d7cc;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border: 5px solid black;
}
