
.card{
    padding: 5px;
    text-align: center;
    justify-content: center;
    color: black;
}
.cardImg{
position:relative;
margin-top: 0%;
max-width: 480px;
max-height: fit-content;
}
.reservations-title{
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: 5px;
    padding: 5px;
}
#reservation-title{
    text-align: center;
}
#resForm{
    margin-top: 3px;
    color: black;
}
#newReservationTable{
    align-items: center;
    justify-content:space-between;
    margin: 5px;
    padding: 5px;
    color: white;
}