
html { 
  background: url(https://media.istockphoto.com/vectors/pirate-ship-background-with-compass-vector-id165932327?k=20&m=165932327&s=612x612&w=0&h=qCTsNqMCtYirdjkXvcBt2NqM0_vR9WRSdmEGEkJWW_M=) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  background-color: rgba(226, 226, 226, 0.505);
  color: black;
  mix-blend-mode: darken;
}

#headerTable {

  width: 100%;
  border: 5px solid rgb(0, 0, 0);
  border-collapse: collapse;
  margin: 20px;
}
ul{
  text-align: left;
}
#generalInfo{
  align-items: 50% 50%;
  border: 3px solid green;
  object-position: 50%;
text-align: center;
}
img {
  position:static;
align-items: center;
  width:auto;
  height: 600px;
  border: 1px solid black;
  background-color: silver;
  object-fit: contain;
}
figure, figcaption {
  align-items: center;
}
#boardMembers{
  text-align: center;;
  border: 3px solid green;
  background-color: rgb(216, 254, 233);
  object-position: 50%;
  }
#duchy{
  align-items: 50% 50%;
  background-color: silver;
  border: 5px double gold;
  object-position: 50% 50%;
  text-align: center;
}
#deployed{
  text-align: center;;
  border: 3px solid #456c96;
  object-position: 50%;
}
#theCrew{
  text-align: center;;
  border: 3px solid black;
  object-position: 50%;
}
.crewBtn {
  background-color: lightskyblue;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.crewDir{
  position: relative;
  display: inline-block;
  }
.crewDir-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  .crewDir-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.crewDir:hover .crewDir-content {
    display: inline-block;
  }
  .crewDir:hover .crewBtn {
    background-color: #3e8e41;
  }
