html {
  /* background: url(https://media.istockphoto.com/vectors/pirate-ship-background-with-compass-vector-id165932327?k=20&m=165932327&s=612x612&w=0&h=qCTsNqMCtYirdjkXvcBt2NqM0_vR9WRSdmEGEkJWW_M=) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background-color: azure;
}


body {

  color: black;
  mix-blend-mode: darken;
}

#headerTable {
  width: 75%;
  text-align: center;
  border: 5px solid rgb(0, 0, 0);
  border-collapse: collapse;
  margin: 13%;
  margin-top: 5%;
  margin-bottom: 0%;
}

#footerTable {

  width: 75%;
  text-align: center;
  border: 5px solid rgb(0, 0, 0);
  border-collapse: collapse;
  margin: 13%;
  margin-top: 10%;
  margin-bottom: 0%;
}

th {
  background-color: darkgrey;
  color: rgb(22, 22, 22);
}

/* -----Main Page--------------------------------------------------------------------------------------------------------------------- */
#mainPage {
  background-color: ivory;
}

#logo {
  margin: 5% 5% 5% 30%;
}

#nightlyEvents {
  text-align: left;
}

#generalInfo {
  align-items: 50% 50%;
  border: 3px solid lavender;
  background-color: lavender;
  color: black;
  object-position: 50%;
  text-align: center;
}

img {
  position: relative;
  align-items: center;
  width: auto;
  height: 600px;
  border: 1px solid black;
  background-color: gray;
  object-fit: contain;
  margin: 0% 0% 3% 3%;
}

figure,
figcaption {
  align-items: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

h3 {
  text-align: center;

}

h4 {
  text-align: center;
}

ul {
  text-align: left;
  text-indent: 2%;
}

b {
  text-decoration: underline;
}

#cannonball {
  text-align: center;
  border: 5px solid black;
  background-color: black;
  color: red;
  margin-right: 40%;
  margin-left: 40%;
  margin-top: 2%;
}

#joinLink {
  margin-left: 2%;

}

#joinUp {
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Flag_of_Henry_Every_red.svg/160px-Flag_of_Henry_Every_red.svg.png) no-repeat;
  width: 160px;
  height: 124px;
}

#bookOfFaces {
  margin-left: 2%;
}

/* -----Members Page--------------------------------------------------------------------------------------------------------------------- */
/* Members page Board Members functions */
#boardMembers {
  /* text-align: center; */

  border: 3px solid green;
  background-color: rgb(216, 254, 233);
  object-position: 50%;
  margin: 20%;
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: center;
}


/* Members page Duchy functions */
#duchy {
  align-items: 50% 50%;
  background-color: silver;
  border: 5px double gold;
  object-position: 50%;
  margin: 20%;
  margin-top: 0%;
  margin-bottom: 2%;
  text-indent: 2%;
  text-align: center;
}

/* Members page deployed functions */
#deployed {
  align-items: 50% 50%;
  background-color: lightblue;
  border: 5px solid cornflowerblue;
  object-position: 50%;
  margin: 20%;
  margin-top: 0%;
  margin-bottom: 2%;
  text-indent: 2%;
  text-align: center;
}

/* Members page Crew functions */
#theCrew {
  align-items: 50% 50%;
  background-color: lightpink;
  border: 5px solid red;
  object-position: 50%;
  margin: 20%;
  margin-top: 0%;
  margin-bottom: 2%;
  text-indent: 2%;
  text-align: center;
}

.crewBtn {
  background-color: lightpink;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 5px solid lightpink;
  cursor: pointer;
}

.crewDir {
  float: none;
  position: relative;
  display: inline-block;
  text-align: center;
}

.crewDir-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px dotted black;
}

.crewDir-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px dotted black;
}

.crewDir:hover .crewDir-content {
  display: inline-block;
}

.crewDir:hover .crewBtn {
  background-color: #3e8e41;

}

button {
  text-align: center;
}

#crewPhotos {
  background-color: lightsteelblue;
  padding: 5%;
}

/* -----Events Page--------------------------------------------------------------------------------------------------------------------- */
#events {
  background-color: rgb(255, 249, 250);
}

#eventsTable {
  border: 5px solid black;
  width: 75%;
  margin: 13%;
}

th,
td {
  border: 2px solid black;
}

tr:nth-child(even) {
  background-color: lightblue;
}

tr:hover {
  border: 5px;
  background-color: lightgray;

}

/* -----Join Page Form--------------------------------------------------------------------------------------------------------------------- */
/* Join page options */
#join {
  background-color: lightgray;
}

#joinPage {
  background-color: rgb(48, 48, 48);
  text-align: center;
  border: 5px solid black;
  color: aliceblue;
  margin: 40%;
  margin-top: 5%;
}

#home {

  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Flag_of_Henry_Every_red.svg/160px-Flag_of_Henry_Every_red.svg.png) no-repeat;
  width: 160px;
  height: 124px;

}

#disney {
  border-radius: 12px;
  padding: 10px;
}

/* -----Error page--------------------------------------------------------------------------------------------------------------------- */
/* Error Page functions */
#notReady {
  background-color: lightskyblue;
  position: absolute;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/* creating and placing button */
.notReady {
  position: relative;
  width: 50%;
}

/* Make responsive */
.notReady img {
  width: 100%;
  height: auto;
}

/* styles the back button moving it to center image */
.notReady .oops {
  position: absolute;
  top: 15%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: lightblue;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.notReady .oops:hover {
  background-color: lightgreen;
}

#dot1 {
  position: absolute;
  width: 5px;
  top: 19%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: lightblue;
  color: black;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#dot2 {
  position: absolute;
  width: 5px;
  top: 24%;
  left: 57%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: lightblue;
  color: black;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#dot3 {
  position: absolute;
  width: 5px;
  top: 28%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: lightblue;
  color: black;
  font-size: 16px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}